.suppliers {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
}

.add-supplier-btn {
    margin-bottom: 20px;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    background-color: #3498db;
    color: white;
    cursor: pointer;
    font-size: 1em;
    transition: background-color 0.3s;
}

.add-supplier-btn:hover {
    background-color: #2980b9;
}

.add-supplier-form, .edit-supplier-form {
    margin-bottom: 20px;
    padding: 20px;
    background: rgba(255, 255, 255, 0.1);
    backdrop-filter: blur(10px);
    border-radius: 15px;
    box-shadow: 0 8px 32px rgba(31, 38, 135, 0.37);
    width: 300px;
}

.add-supplier-form form, .edit-supplier-form form {
    display: flex;
    flex-direction: column;
}

.add-supplier-form label, .edit-supplier-form label {
    margin-top: 10px;
    color: #032663;
}

.add-supplier-form input, .edit-supplier-form input {
    padding: 10px;
    margin-top: 5px;
    border-radius: 5px;
    border: 1px solid rgba(255, 255, 255, 0.18);
}

.submit-btn, .cancel-btn {
    margin-top: 20px;
    padding: 10px;
    border: none;
    border-radius: 5px;
    color: white;
    cursor: pointer;
    font-size: 1em;
    transition: background-color 0.3s;
}

.submit-btn {
    background-color: #2ecc71;
}

.submit-btn:hover {
    background-color: #27ae60;
}

.cancel-btn {
    background-color: #e74c3c;
}

.cancel-btn:hover {
    background-color: #c0392b;
}

.card-container {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: center;
}

.card {
    background: rgba(255, 255, 255, 0.1);
    backdrop-filter: blur(10px);
    border-radius: 15px;
    box-shadow: 0 8px 32px rgba(31, 38, 135, 0.37);
    padding: 20px;
    width: 250px;
    transition: transform 0.3s, box-shadow 0.3s;
    border: 1px solid rgba(255, 255, 255, 0.18);
}

.card:hover {
    transform: scale(1.05);
    box-shadow: 0 12px 24px rgba(31, 38, 135, 0.37);
}

.card-content {
    text-align: center;
}

.card-content i {
    color: #3498db;
    margin-bottom: 10px;
}

.card-content h3 {
    margin-top: 0;
    font-size: 1.5em;
    color: darkslateblue;
}

.card-content p {
    margin: 5px 0;
    font-size: 1em;
    font-weight: bold;
    color: #032663;
}

.edit-btn, .delete-btn {
    margin-top: 10px;
    padding: 10px;
    border: none;
    border-radius: 5px;
    color: white;
    cursor: pointer;
    font-size: 1em;
    transition: background-color 0.3s;
}

.edit-btn {
    background-color: #f39c12;
}

.edit-btn:hover {
    background-color: #e67e22;
}

.delete-btn {
    background-color: #e74c3c;
}

.delete-btn:hover {
    background-color: #c0392b;
}