<app-sidebar></app-sidebar>
<app-productmenu></app-productmenu>
<div class="container">
    <div class="heading">Set Maximum Quantity</div>
    <form class="form">
      <div class="row">
        <div class="col-3">
          <label for="productId">Product Name</label>
          <input type="text" class="form-control" [(ngModel)]="product.productName" name="productName">
        </div>
        <div class="col-3">
          <label for="maxQuantity">Maximum Quantity</label>
          <input type="number" class="form-control" [(ngModel)]="product.maxQuantity" name="maxQuantity">
        </div>
        <div class="col-3">
          <button type="button" class="btn btn-primary" (click)="setMaxQuantity()">Set Maximum Quantity</button>
        </div>
      </div>
    </form>
  </div>