.container {
    padding: 20px;
    background: rgba(255, 255, 255, 0.1);
    backdrop-filter: blur(10px);
    border-radius: 15px;
    box-shadow: 0 8px 32px rgba(31, 38, 135, 0.37);
    max-width: 1000px;
    margin: 0 auto;
    border: 1px solid rgba(255, 255, 255, 0.18);
    z-index: 2;
}

#fil {
    background-color: rgb(15, 93, 161);
    width: 80px;
    height: 50px;
    cursor: pointer;
}

.heading {
    text-align: center;
    font-weight: bolder;
    color: #2c3e50;
    margin-bottom: 20px;
}

.form .row {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
}

.form .col-3 {
    flex: 1;
    margin-right: 10px;
}
.form label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
    color: #2c3e50;
}

.form .col-3:last-child {
    margin-right: 0;
}

.form .btn-primary {
    padding: 10px 20px;
    background-color: #3498db;
    border: none;
    border-radius: 5px;
    color: #fff;
    font-weight: bold;
    cursor: pointer;
    transition: background-color 0.3s ease, transform 0.3s ease;
    margin-top: 23px;
}

.card-container {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: center;
}

.card {
    background: rgba(255, 255, 255, 0.1);
    backdrop-filter: blur(10px);
    border-radius: 15px;
    box-shadow: 0 8px 32px rgba(31, 38, 135, 0.37);
    overflow: hidden;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    width: 300px;
    border: 1px solid rgba(255, 255, 255, 0.18);
}

.card:hover {
    transform: translateY(-10px);
    box-shadow: 0 12px 24px rgba(31, 38, 135, 0.37);
}

input[type="date"] {
    margin: 5px;
    padding: 5px;
    outline: 2px solid blue;
}

.card-content {
    padding: 20px;
    text-align: center;
}

.card-content h3 {
    font-weight: bolder;
    margin: 0 0 10px;
    font-size: 1.5em;
    color: #2c3e50;
}

.card-content p {
    margin: 0 0 5px;
    color: #7f8c8d;
}

.card-content h3:hover {
    color: #e74c3c;
    text-shadow: 0 0 5px rgba(231, 76, 60, 0.5);
}

.card-content p:hover {
    color: #3498db;
    text-shadow: 0 0 5px rgba(52, 152, 219, 0.5);
}